[submodule "vendors/assimp"]
	path = vendors/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendors/entt"]
	path = vendors/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json.git
[submodule "vendors/sdl3"]
	path = vendors/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendors/vma"]
	path = vendors/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendors/volk"]
	path = vendors/volk
	url = https://github.com/zeux/volk.git
[submodule "vendors/meshoptimizer"]
	path = vendors/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "vendors/tracy"]
	path = vendors/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "vendors/tinyxml2"]
	path = vendors/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendors/spirv-headers"]
	path = vendors/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
